<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>meibo Prototype</h1>
    <h2>社員一覧</h2>
    <table>
      <tr>
        <th>ユーザID</th>
        <th>名字</th>
        <th>名前</th>
        <th>読み仮名(名字)</th>
        <th>読み仮名(名前)</th>
        <th>入社日</th>
        <th>誕生日</th>
        <th>年齢</th>
      </tr>
      {% for id, lastname, firstname, lstyomi, fstyomi, start, birth, age in members %}
      <tr>
        <td>{{ id }}</td>
        <td>{{ lastname }}</td>
        <td>{{ firstname }}</td>
        <td>{{ lstyomi }}</td>
        <td>{{ fstyomi }}</td>
        <td>{{ start }}</td>
        <td>{{ birth }}</td>
        <td>{{ age }}</td>
      </tr>
      {% endfor %}
    </table>
    <h1>!!試験運用中!!</h1>
    <img src="{{url_for('static', filename='snake.png')}}" alt="snake">
  </body>
</html>
